/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.Header {
    width: 100%;
    background-color: rgb(166, 193, 243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
}

.logo h4 {
    margin: 0;
}

.Header a{
    text-decoration: none;
}
.SubHeader ul {
    display: flex;
    align-items: center;
    gap: 40px;           
    list-style: none;
    margin: 0;
    padding: 0;
}

.SubHeader a {
    text-decoration: none;
    color: #0a58ff;
    font-weight: 600;
}

.SubHeader a:hover {
    color: #003cff;
}
 */


 